
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pompiere&display=swap');

body{
    font-family: "Pompiere", sans-serif;   
    background: linear-gradient(rgba(169, 226, 240, 0.7),rgba(169, 226, 240, 0.7 )), url('/weather-app-img/images/3ccb70371a1176dbbf3d1f5864a43949.jpg');
    background-size: cover ;
    background-position: center center;

}
.card{
    width: 70%;
     max-width: 450px; 
    background:linear-gradient(135deg,#239bd3,#375743);
    color: beige;
    margin: 40px auto ;
    border-radius: 50px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: -9px 23px 27px 11px rgba(0,0,0,0.1);
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control:focus {
    box-shadow: none;
}
.search button{
border: 0;
outline: 0;
background: #63c6ff;
cursor: pointer;
margin-left: 5px;
border-radius: 40px;
}
.search button:hover{
    background-color: #072746;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weaher h1{
    font-size: 80px;
    font-weight: 500;
}
.weaher h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  20px;
    margin-top: 10px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: center;
   padding-left: 30px; 
}
.details .col img{
    width: 55px;
margin-bottom: 20px;
}
.humidity, .wind{
   font-size: 23px;
   
}
.weather{
    display:none;
}
.error{
     display: none; 
    padding-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
.text h1{
    font-size: 60px;
font-weight: 600;
}